head
  title= title
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  -if(typeof ipad_detect != 'undefined' && ipad_detect)
    meta(name="viewport", content="width=device-width, initial-scale=0.8, user-scalable=yes")
  -else
    meta(name="viewport", content="width=device-width, initial-scale=0.5, user-scalable=yes")

  meta(name="description", content="#{site_description}")
  meta(name="keywords", content="#{site_keywords}")

  meta(property="og:title", content="#{title}")
  meta(property="og:description", content="#{site_description}")
  meta(property="og:url", content="#{hosturl}")
  meta(property="og:image", content="#{hosturl}/images/fb-img.jpg")
  meta(property="og:site_name", content="#{title}")
  meta(property="og:type", content="website")
  meta(name="author", content="@youfoundron")

  include _favicons

  link(rel="stylesheet", href="css/screen.css")
